//
// dropdown-list.scss
//

@import "../mixins";
@import "../variables";

.dropdown-list {
    display: block;
    position: absolute;
    @include toRem(top, -30);
    @include toRem(right, 300);
    margin-right: 20px;
    background-color: $dropdown-list-bg;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 1.25rem 3rem;

    @include for-tablet-landscape-up {
        position: absolute;
        @include toRem(top, 52);
        @include toRem(left, -24);
        right: auto;
    }

    a { 
        text-decoration: none;
        color: $color-dropdown-list;

        &:hover {
            color: $color-dropdown-list-hover;
        }
    }

    &__item {
        // @include toRem(min-width, 390);
        display: block;
        padding: 5px 0;
        text-decoration: none;
        color: $color-dropdown-list;
        text-align: end;
        @include toRem(font-size, 16);
        @include toRem(line-height, 38.64);
        font-weight: 500;
        white-space: nowrap;
        position: relative;

        @include for-desktop-up {
            text-align: start;
        }

        &__list {
            display: none;
            padding: 0rem 2rem;
            @include transition(display);

            &--open {
                display: block;
            }

            li {
                text-align: end;
                color: $color-dropdown-list;

                @include for-tablet-landscape-up {
                    text-align: start;
                }
                &:hover {
                    color: $color-dropdown-list-hover;
                }
            }
        }

        &:hover {
            color: $color-dropdown-list-hover;

            &::before {
                content: url("/home/dropdown_item_icon.svg");
                position: absolute;
                left: -20px;
            }
        }
    }

    // &--open {
    //     visibility: visible;
    // }
}