//
// navbar_hamburger.scss
//

@import "../mixins";
@import "../variables";

.navbar_hamburger {
    order: 2;
    display: flex;
    cursor: pointer;

    @include for-tablet-landscape-up {
        display: none;
    }
}