//
// timeline-component.scss
//

@import "../mixins";
@import "../variables";

.timeline-home {
    // margin-top: min(18vh, 200px);

    @include for-phone-only {
        position: relative;
        width: 100vw;
        height: 100%;
        top: 0;
        // background-color: green;
    }

    &__slideTitle {
        @include for-phone-only {
            position: absolute;
            width: 100%;
            height: 20%;
            top: 0;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .page-home__title {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 50px*$page-home-scale;

        @include for-phone-only {
            margin-bottom: 0;
        }
    }

    &__line {
        // margin: 32px*$page-home-scale 0 64px*$page-home-scale 0;
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);

        div:first-child {
            border: 2px solid #96E9FF;
            height: 1px;
            z-index: 1;
        }

        div:last-child {
            z-index: -1;
            position: absolute;
            top: -16px;
            width: 100%;
            border: 16px solid #4141C1;
            filter: blur(12px);
            height: 1px;
        }

        @include for-phone-only {
            display: none;
        }
    }

    &__inner {
        position: relative;

        @include for-phone-only {
            position: absolute;
            width: 100%;
            height: 80%;
            top: 20%;
            // background-color: orange;
        }

        // height: 65vh;
    }

    &__timelines {
        position: relative;
        top: -7px;
        display: flex;

        justify-content: space-around;
        @include toRem(gap, 30);
        margin: 0 2rem;

        @include for-tablet-landscape-up {
            @include toRem(gap, 50);
        }

        @include for-desktop-up {
            @include toRem(gap, 70);
        }

        @include for-phone-only {
            // display: none;
            top: 0;
            flex-direction: column;
            margin: 0;
            justify-content: flex-start;
            // background-color: #0355CD;
            height: 100%;
            gap: 0;
        }


    }

    &__component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include for-phone-only {
            display: flex;
            // height: 100%;
        }

        &__pc {
            @include for-phone-only {
                display: none;
            }
        }

        &__mobile {
            display: none;

            @include for-phone-only {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // position: absolute;
                // background-color: green;
                width: 100%;

            }



            &__time {
                width: 88%;
                min-height: 60px;
                display: flex;
                justify-content: space-between;
                background-color: theme-var($color-text);
                padding-left: 5px;
                padding-right: 10px;
                align-items: center;
                border-radius: 8px;
                margin-top: 10px;
                transition: all 0.2s linear;




                &__text {
                    font-weight: 700;
                    color: #4141C1;
                }

                &__dropdown {
                    transform: rotate(90deg);
                    transition: all 0.2s linear;

                    &__active {
                        transform: rotate(0deg);
                    }
                }
            }

            @keyframes fadeInFromNone {
                0% {
                    display: none;
                    opacity: 0;
                }

                1% {
                    display: flex;
                    opacity: 0;
                }

                100% {
                    display: flex;
                    opacity: 1;
                }
            }

            &__content {
                // background-color: red;
                background: linear-gradient(179deg, rgba(240.12, 240.12, 240.12, 0.19) 0%, rgba(255, 255, 255, 0.15) 100%);
                border-radius: 0% 0% 20px 20px;
                width: 82%;
                padding: 8px;
                min-height: 80px;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
                // visibility: hidden;
                display: none;
                opacity: 0;


                li {
                    margin: 4px 0;
                }

                &__active {
                    display: flex;
                    opacity: 1;
                    // visibility: visible;
                    // min-height: 80px;
                    animation: fadeInFromNone 0.2s ease-in-out;
                    // transition: all 2s linear;
                }
            }
        }

        // @include for-phone-only {
        //     // position: absolute;
        //     width: 100%;
        //     // height: 400px;
        //     // min-height: 140px*$page-home-scale;
        //     background-color: green;
        //     height: fit-content;

        // }

        &__pc {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @include for-phone-only {
                display: none;
            }
        }

        &__circle {
            visibility: hidden;
            width: 14px*$page-home-scale;
            height: 14px*$page-home-scale;
            // justify-content: center;
            // @include toRem(width, 14);
            // @include toRem(height, 14);
            border-radius: 100%;
            background-color: #96E9FF;

            @include for-phone-only {
                display: none;
            }
        }

        &__line {
            visibility: hidden;
            margin: auto;
            @include toRem(width, 4);
            @include toRem(min-height, 50);
            background-color: #96E9FF;

            @include for-phone-only {
                display: none;
            }
        }

        &__decoration {
            visibility: visible;
        }

        &__inner {
            position: relative;
            background: linear-gradient(150.87deg, rgba(240, 240, 240, 0.1408) -0.05%, rgba(255, 255, 255, 0.16) 98.51%);
            backdrop-filter: blur(105.5px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 20px;
            min-height: min(450px*$page-home-scale, 350px);
            // @include toRem(width, 341);
            padding: 20px*$page-home-scale;
            border: 2px solid rgba(240, 240, 240, 0.1408);

            &:hover {
                border: 2px solid #96E9FF;

                .timeline-component__bg {
                    display: block;

                    @include for-phone-only {
                        display: none;
                    }
                }

                // @include for-phone-only {
                //     border: none;
                //     display: flex;
                //     // align-items: center;
                //     justify-content: center;

                // }
            }

            // @include for-phone-only {
            //     padding: 0;
            //     position: absolute;
            //     width: 86%;
            //     border: none;
            //     border-radius: 0;
            //     min-height: 0;
            //     background: none;
            // }
        }

        &__bg {
            border: 2px solid #96E9FF;
            display: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(91.39deg, #330056 2.46%, #2100A8 34.71%, #0355CD 71.49%, #2AB3FF 99.21%);
            background-blend-mode: overlay;
            opacity: 0.58;
            filter: blur(91.5px);
            z-index: -1;
            @include transition(display);
        }

        &__clip-path {
            height: 0;
            width: 0;
            opacity: 0;
            position: absolute;
        }

        &__time {
            position: absolute;
            @include toRem(left, -20);
            -webkit-clip-path: url(#timeline);
            clip-path: url(#timeline);
            overflow: hidden;
            width: 20vw;
            height: 120px*$page-home-scale;
            padding-top: 25px*$page-home-scale;
            font-size: 25px*$page-home-scale;
            background-color: theme-var($color-text);
            font-weight: 700;
            color: #4141C1;

            &__dropdown {
                display: none;
            }

            // @include for-phone-only {
            //     width: 106%;
            //     // width: 100vw;
            //     left: -3%;
            //     clip-path: none;
            //     padding-top: 0;
            //     padding-left: 1vh;
            //     padding-right: 2vh;
            //     @include toRem(min-height, 60);
            //     @include toRem(padding-top, 10);
            //     @include toRem(padding-bottom, 10);
            //     // @include toRem(border-radius, 3);

            //     border-radius: 5px;
            //     border: 2px #4141C1 solid;
            //     // background-color: green;
            //     display: flex;
            //     justify-content: space-between;
            //     // margin: 0 20px;
            //     align-items: center;

            //     &__text {
            //         font-size: 46px*$page-home-scale;

            //     }

            //     &__dropdown {
            //         display: block;
            //         transform: rotate(90deg);

            //     }
            // }
        }

        ul {
            list-style-type: none;
            margin-top: 90px*$page-home-scale;

            @include for-phone-only {
                // position: absolute;
                margin-top: 0;
                // display: none;
            }

            li {
                position: relative;
                text-align: start;
                padding-left: 1rem;
                font-size: min(25px*$page-home-scale, 15px);
                line-height: 25px*$page-home-scale;
                // @include toRem(font-size, 16);

                @include for-phone-only {
                    font-size: 30px*$page-home-scale;
                    line-height: 30px*$page-home-scale;
                }

                &::before {
                    position: absolute;
                    top: 50%;
                    @include toRem(left, -2);
                    transform: translateY(-50%);
                    display: block;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background-color: #ffffff;
                }
            }
        }

        &__content {
            display: none;

            // @include for-phone-only {
            //     display: block;
            // }
        }

        &__rectangle {
            position: absolute;

            width: 100px;
            height: 100px;
            background-color: #0355CD;
        }
    }
}