//
// footer.scss
//

@import "../mixins";
@import "../variables";

.footer {
    &__theme-switch {
        width: 100%;
    }

    &__btn {
        width: 60px*$page-home-scale;
        height: 60px*$page-home-scale;
        border: 1px solid $btn-link-color;
        border-radius: 100%;
        padding: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px*$page-home-scale;
        // @include toRem(font-size, 24);
        @include toRem(line-height, 30);
        font-weight: 500;

        svg {
            fill: $btn-link-color;
            color: $btn-link-color;
            width: 25px*$page-home-scale;
            height: 25px*$page-home-scale;
        }

        &:hover {
            background-color: $navigation-bg-color;
            color: $navigation-bg-color-text;

            svg {
                color: $navigation-bg-color-text,
            }
        }
    }

    &__left,
    &__right {
        display: flex;
        position: fixed;
        @include toRem(gap, 18);
        bottom: $body-margin-bottom;
        z-index: 10;
        height: $footer-height;

        @include for-phone-only {
            display: none;
        }
    }

    &__left {
        left: $body-margin-left;
        justify-content: space-between;
        align-items: flex-end;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__right {
        right: $body-margin-right;
        align-items: flex-end;
    }


    &__social {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__links {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: $footer-bg-color;
            padding: 0.5rem 0rem;
            @include toRem(gap, 4);
            @include toRem(width, 50);
            @include toRem(border-radius, 10);
            @include toRem(margin-bottom, 10);

            &--active {
                display: flex;
            }
        }
    }

    @include for-phone-only {
        position: fixed;
        width: 100vw;
        // height: 10vh;
        height: 12%;
        bottom: 0;
        // background-color: orange;
        // opacity: 0.5;
        // padding-left: 5px;
        // padding-right: 5px;
        z-index: 10;
    }

    &__mobileBtn {
        display: none;

        @include for-phone-only {
            display: flex;
            // margin: 0 20px 26px 20px;
            // margin-left: 5px;
            // margin-right: 5px;
            // padding-left: 5px;
            // padding-right: 5px;
            @include toRem(border-radius, 40);
            // border-radius: 40px;
            border: 2px #383467 solid;
            // padding: auto;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            // position: absolute;
            position: absolute;
            width: 95%;
            height: 90%;
            // padding-top: 8px;
            // padding-bottom: 8px;
            // top: 50%;
            // transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: white;
        }
    }

}