//
// layout.scss
//

@import "../mixins";
@import "../variables";

.layout {
    box-sizing: border-box;
}

.slide-layout {
    width: 97vw;
    margin-top: $slide-margin-top;
    margin-bottom: $slide-margin-top;
    height: $slide-height;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-phone-only {
        display: block;
        // justify-content: center;
        // align-items: center;
        width: auto;
        // margin: 0;
        height: 80%;
        // @include toRem(margin-top, 57);
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 8%;
        left: 0;
        // background-color: pink;
        // opacity: 0.5;
    }
}